<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="14107fferegrino.ElblogdeFeregrino" Version="1.0.0.1" Publisher="CN=8BD20898-9E0A-4C13-AC37-E9D349AF4781" />
  <Properties>
    <DisplayName>El blog de Feregrino</DisplayName>
    <PublisherDisplayName>fferegrino</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="El blog de Feregrino" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Aplicación oficial de El blog de Feregrino" ForegroundText="dark" BackgroundColor="#F0F0F0">
        <DefaultTile ShowName="noLogos" ShortName="Blog de Feregrino" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>